.anuncio {
    color: red;
    font-size: 40px;
    text-align: center;
    padding: 5rem;
    border: 1px solid;
}
.error-message {
    color: red;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }